@import "bootstrap";
@import "bourbon/bourbon";
@import url(https://fonts.googleapis.com/css?family=Bangers);

$magic-font: Bangers, cursive;

.app-title {
	font-family: $magic-font;
	font-size: 300%;
	letter-spacing: 1.25em;
}

.background {
	z-index: -1;
	background: url('../img/parchment.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: fixed;
}

.category {
	font-family: $magic-font;
}

.description-box {
	width: 66%;
	margin: 1% auto;
}

.label{
	&.level-label{
		font-size: 1em;
		@include background(radial-gradient(blue, teal) left repeat);
		box-shadow: 3px 3px 1px;
		margin: 0 0.5% 0 0.5%;

	}
}

#search-bar{
	margin-right: 1%;
	width: 25%;
	min-width: 250px;
}

#logo{
	height: 163px;
	width: 142px;
}

.typeahead{
	margin-top: 2px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: white;
	border: 1px solid #CCC;
 li{
	line-height: 20px;
	}
 a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #333;
	white-space: nowrap;
	text-decoration: none;
	}
	.active > a {
	color: white;
	text-decoration: none;
	background-color: #0081C2;
	outline: 0;
	}

	&.hidden{
	display: none;
	}
}

button {
	&#search-button {
		margin-left: 1%;
	}
}
